<div class="o_promoted-nav container o_tile-group with-icon js-tab-order">
    <div id="finn-frem" class="search-block tile js-dynamic-order">
        <h2 class="a_underline-heading">
            <a href="/site/avdeling/index.html">Finn frem på St. Olavs Hospital</a>
        </h2>

        <div class="m_search-box" role="search">
            <input type="search" placeholder="Finn avdeling" id="department-search" name="department-search">
            <label for="department-search">Finn avdeling</label>
            <input type="button" value="Finn avdeling" class="searchbutton">
        </div>

        <div class="all">
            <a href="/site/avdeling/index.html">Alle avdelinger fra A til Å</a>
        </div>
    </div>

    <div id="helsefaglig" class="tile">
        <h2 class="a_underline-heading">
            <a href="/site/helsefaglig/index.html">Helsefaglig</a>
        </h2>
        <ul>
            <li><a href="/site/helsefaglig/forskning.html">Forskningsstøtte</a></li>
            <li><a href="/site/helsefaglig/utdanning.html">Laboratorietjeneste</a></li>
            <li><a href="/site/helsefaglig/utdanning.html">Etter- og videreutdanning</a></li>
            <li class="all"><a href="/site/helsefaglig">Alt helsefaglig</a></li>
        </ul>
    </div>

    <div id="om-oss" class="tile">
        <h2 class="a_underline-heading">
            <a href="/site/om-oss/index.html">Om oss</a>
        </h2>
        <ul>
            <li><a href="/site/om-oss/jobb/index.html">Ledige stillinger</a></li>
            <li><a href="/site/om-oss/nyheter/index.html">Nyheter</a></li>
            <li><a href="/site/om-oss/nyheter/index.html">Pressesenter</a></li>
            <li class="all"><a href="/site/om-oss">Alt om oss</a></li>
        </ul>
    </div>
</div>