<nav>
    <ul class="container o_tile-group promoted navigation">
        <li class="tile">
            <div class="subnav-title" id="finn-frem">No icon, long longtitlelong long title</div>

            <ul class="subnav">
                <li><a href="/site/om-oss/nyheter/index.html">Pressesenter</a></li>
                <li><a href="/site/om-oss">Alt om hvordan finne frem</a></li>
            </ul>

        </li>

        <li class="tile">
            <div class="subnav-title with-icon" id="praktisk">Praktisk informasjon</div>

            <ul class="subnav">
                <li><a href="/site/om-oss/jobb/index.html">Praktisk 1</a></li>
                <li><a href="/site/om-oss/nyheter/index.html">En annen praktisk informasjon lenke</a></li>
                <li><a href="/site/om-oss/nyheter/index.html">Parkering</a></li>
                <li class="all"><a href="/site/om-oss">Alt praktisk informasjon</a></li>
            </ul>
        </li>

        <li class="tile">
            <div class="subnav-title with-icon" id="om-oss">Om oss</div>

            <ul class="subnav">
                <li><a href="/site/om-oss/jobb/index.html">Ledige stillinger</a></li>
                <li><a href="/site/om-oss/nyheter/index.html">Nyheter</a></li>
                <li><a href="/site/om-oss/nyheter/index.html">Pressesenter</a></li>
                <li><a href="/site/om-oss">Alt om oss</a></li>
            </ul>
        </li>

        <li class="tile">
            <div class="subnav-title with-icon" id="helsefaglig">Helsefaglig</div>

            <ul class="subnav">
                <li><a href="/site/helsefaglig/forskning.html">Forskningsstøtte</a></li>
                <li><a href="/site/helsefaglig/forskning.html">Forskningsstøtte</a></li>
                <li><a href="/site/helsefaglig/forskning.html">Forskningsstøtte</a></li>
                <li><a href="/site/helsefaglig/utdanning.html">Laboratorietjeneste</a></li>
                <li><a href="/site/helsefaglig/utdanning.html">Etter- og videreutdanning</a></li>
                <li><a href="/site/helsefaglig">Alt helsefaglig</a></li>
            </ul>
        </li>

    </ul>
</nav>