<div componentid="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr" id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr">
    <section class="o_horizontal-section searchblock white" id="SearchResults" aria-live="polite">
        <div class="container">
            <h2>                    Dokumenter                </h2>
            <div>
                <div id="GroupDocuments">
                    <div id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr1_group" name="Group" class="ms-srch-group " data-queryruleid="00000000-0000-0000-0000-000000000000">
                        <div id="GroupBorderTop"></div>
                        <ul id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr1_groupContent" class="ms-srch-group-content o_search-results">
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr2_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Sepsis UV mars 2018 (1).pdf"> Sepsis UV 1 </a>                <span class="fileInfo">                     (PDF 1.21 MB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr3_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Sepsis UV mars 2018(2).pdf"> Sepsis UV 2 </a>                <span class="fileInfo">                     (PDF 1.62 MB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr4_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Årsrapport_2017_KVI-180515_total.pdf"> Årsrapport forskning 2017 Kvinneklinikken </a>                <span class="fileInfo">                     (PDF 1.59 MB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr5_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Forskningsstøtte/2016-03 Hvordan registrere studie i ClinicalTrials_veileding.pdf"> 2016-03 Hvordan registrere studie i ClinicalTrials_veileding </a>                <span class="fileInfo">                     (PDF 937 KB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr6_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Avdeling for immunologi og transfusjonsmedisin/Rapport_fra_kunnskapssensteret.pdf"> Rapport_fra_kunnskapssensteret </a>                <span class="fileInfo">                     (PDF 691 KB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr7_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Avdeling for immunologi og transfusjonsmedisin/metodevurdering.pdf"> metodevurdering </a>                <span class="fileInfo">                     (PDF 691 KB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr8_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Kvinneklinikken/Årsrapport_2017.pdf"> Årsrapport_2017 </a>                <span class="fileInfo">                     (PDF 1.58 MB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr9_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/seksjon/Documents/Regional seksjon for spiseforstyrrelser 2018.pdf"> Årsmelding RASP 2018 </a>                <span class="fileInfo">                     (PDF 569 KB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr10_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/seksjon/nasjonal-kompetansetjeneste-for-dekontaminering/Documents/Hvordan finner vi ut at instrumentene er rene_L. Ashurst.pdf"> Hvordan finner vi ut at instrumentene er rene_L. Ashurst </a>                <span class="fileInfo">                     (PDF 1.68 MB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                            <li id="ctl00_ctl47_g_cab6e439_e7d3_4eac_b4dd_987410820acc_csr11_item" name="Item" data-displaytemplate="DefaultItem" class="search-result">
                                <h3 class="result-header">                <a href="https://oslo-universitetssykehus.no/Documents/Behandlingsreiser/Forskning/Leddsykdommer hos barn ungdom og voksne/REVMA7_kunnskap og mestring_2010.pdf"> REVMA7_kunnskap og mestring_2010 </a>                <span class="fileInfo">                     (PDF 639 KB)                </span>            </h3>
                                <p class="search-result-snippet"> </p>
                            </li>
                        </ul>
                        <div id="GroupBorderBottom"></div>
                    </div>
                </div>
                <ul id="Paging" class="m_pagination">
                    <li id="PagingSelf" class="active">
                        <button type="button" class="pagination-button search-results-pagination" id="SelfLink_1">1</button>
                    </li>
                    <li id="PagingLink">
                        <button type="button" class="pagination-button search-results-pagination" id="PageLink_2" onclick="$getClientControl(this).page(11);return Srch.U.cancelEvent(event);">2</button>
                    </li>
                    <li id="PagingImageLink">
                        <button id="PageLinkNext" type="button" class="next-result-page search-results-pagination" onclick="$getClientControl(this).page(11);return Srch.U.cancelEvent(event);" aria-label="Neste resultater"> </button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>