<section class="m_highlighted-expander js-expand expand collapsed">
    <div class="container">
        <div class="js-expander expander" aria-expanded="false" data-title="les-mer-om-brudd-i-handleddet-informasjon-fra-helsenorgeno" role="button" tabindex="0">
            <div class="title">
                <div id="ctl00_PlaceHolderMain_ctl06_diseasetitle2" class="expander-title" data-gtm-vis-recent-on-screen-7501771_47="247" data-gtm-vis-first-on-screen-7501771_47="247" data-gtm-vis-total-visible-time-7501771_47="100" data-gtm-vis-has-fired-7501771_47="1">Les mer om Brudd i håndleddet</div>
                <div class="subtitle">
                    <span>Informasjon fra helsenorge.no</span>
                </div>
            </div>
        </div>
    </div>
    <div class="js-expandable highlighted expandable">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include behandling/diseaseinfo.html %}
                </div>
            </div>
        </div>
    </div>
</section>