<table class="ms-rteTable-default" width="100%" cellspacing="0">
    <tbody>
        <tr>
            <td class="ms-rteTable-default" style="width:33.33%;"></td>
            <td class="ms-rteTable-default" style="width:33.33%;"><strong>Nattlige skrekkanfall</strong></td>
            <td class="ms-rteTable-default" style="width:33.33%;"><strong>Mareritt</strong></td>
        </tr>
        <tr>
            <td>Tid i søvnperioden&nbsp;</td>
            <td data-label="Nattlige skrekkanfall"><span></span>Tidlig (første tre timer)</td>
            <td data-label="Mareritt">Sent (mer enn tre timer etter innsovning)&nbsp;</td>
        </tr>
        <tr>
            <td>Søvnstadium <br></td>
            <td data-label="Nattlige skrekkanfall">Dyp søvn&nbsp; </td>
            <td data-label="Mareritt">REM søvn&nbsp; </td>
        </tr>
        <tr>
            <td>Oppvåkning</td>
            <td data-label="Nattlige skrekkanfall">Uvanlig </td>
            <td data-label="Mareritt">Vanlig</td>
        </tr>
        <tr>
            <td>Forvirring etter anfallet&nbsp;</td>
            <td data-label="Nattlige skrekkanfall">Vanlig</td>
            <td data-label="Mareritt">Uvanlig</td>
        </tr>
    </tbody>
</table>