<footer class="o_framework-footer">

    <nav class="o_tile-group container menu navigation">

        <div class="tile js-responsive-expand">
            <div class="subnav-title js-responsive-expander">
                Rettigheter
            </div>
            <ul class="subnav js-responsive-expandable">
                <li><a href="/site/hf/rettigheter/egenandel-og-frikort.html">Egenandel og frikort</a></li>
                <li><a href="/site/hf/rettigheter/fritt-sykehusvalg.html">Fritt sykehusvalg</a></li>
                <li><a href="/site/hf/rettigheter/behandlingsfrister.html">Behandlingsfrister</a></li>
                <li><a href="/site/hf/rettigheter/klage-og-erstatning.html">Klage og erstatning</a></li>
                <li><a href="/site/hf/rettigheter/index.html">Mer om rettigheter</a></li>
            </ul>
        </div>

        <div class="tile js-responsive-expand">
            <div class="subnav-title js-responsive-expander">
                Sikkerhet og personvern
            </div>
            <ul class="subnav js-responsive-expandable">
                <li><a href="">Pasientsikkerhet</a></li>
                <li><a href="">Taushetsplikt</a></li>
                <li><a href="">Bruk av e-post</a></li>
                <li><a href="">Om nettstedet</a></li>
            </ul>
        </div>

        {% if page.footer-blocks != 2 %}
        <div class="tile js-responsive-expand">
            <div class="subnav-title js-responsive-expander">
                Kontaktinformasjon
            </div>
            <ul class="subnav js-responsive-expandable">
                <li><a href="">Øyeblikkelig hjelp</a></li>
                <li><a href="">Pressekontakt</a></li>
                <li><a href="">Nettredaksjon</a></li>
            </ul>
        </div>
        {% endif %}

        <div class="tile js-responsive-expand">
            <div class="subnav-title js-responsive-expander">
                Last tile
            </div>
            <ul class="subnav js-responsive-expandable">
                <li><a href="">Øyeblikkelig hjelp</a></li>
                <li><a href="">Pressekontakt</a></li>
                <li><a href="">Nettredaksjon</a></li>
            </ul>
        </div>

        <!--<div class="tile social">-->

            <!--<div class="social-box">-->
                <!--<div class="social-text">Nyhetsbrev</div>-->

                <!--<div class="social-box-buttons">-->
                    <!--<a href="https://twitter.com/" class="rss a_social-button">RSS</a>-->
                    <!--<a href="https://www.facebook.com/" class="mail a_social-button">Mail</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<a href="">-->
                <!--<div class="social-box">-->

                    <!--<div class="social-text">Følg oss på</div>-->

                    <!--<div class="social-box-buttons">-->
                        <!--<div class="twitter a_social-button">Twitter</div>-->
                        <!--<div class="facebook a_social-button">Facebook</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</a>-->
        <!--</div>-->

    </nav>

    <div class="ansvarlig">
        <div class="container">
            <img src="/site/images/hf/st-olavs/logo-negativ.png" class="logo" alt="St. Olavs Hospital" width="300"/>

            <div>Organisasjonsnummer 997 005 562</div>

            <div class="footer-contact-info">
                <div class="phone">
                    <span>Telefon 06800</span>
                    <span class="center">Fra utlandet: +47 815 55 850</span>
                    <span>Faks: 73 50 70 93</span>
                </div>
                <div class="mail">
                    <span><a class="js-feedback" href="mailto:post.adm.dir@stolav.no">post.adm.dir@stolav.no</a></span>
                    <span class="center">St. Olavs Hospital, Postboks 3250 Sluppen, 7006 Trondheim</span>
                </div>
            </div>
            <div class="university">
                I samarbeid med
                <img src="/site/images/hf/st-olavs/logo_NTNU.png" class="logo" alt="NTNU"/>
            </div>
        </div>
    </div>
</footer>

<!-- Not for implementation in SP! -->
<a class="toc" href="/index.html">&lt;&lt;&nbsp;&nbsp;Tilbake
    til innholdsfortegnelse</a>