<a tabindex="1" class="a_skip-to-content" href="#page-title">Hopp til innholdet</a>
<header class="o_framework-header js-expand">

    <div class="container">

        <div class="logo">
            <a href="/site/hf/index.html">
                <img src="/Style%20Library/Images/logo.svg" alt="Foretakets navn">
                <!--<img src="http://stolav.hn1-02.int-hn.nhn.no/Style%20Library/Images/logo.svg" alt="Foretakets navn">-->
                <!--<img src="https://haraldsplass.hn.test.nhn.no/Style%20Library/Images/logo.svg" alt="Foretakets navn">-->
                <!--<img src="http://unn.hn1-02.int-hn.nhn.no/Style%20Library/Images/logo.svg" alt="Foretakets navn">-->
            </a>
        </div>

        {% include framework/header-button-container.html %}
    </div>

    <div class="main-menu js-expandable">
        <div class="site-functions">
            <div class="container">
                <div class="js-site-settings m_site-settings">
                    <div class="text-size js-expand submenu">
                        <button type="button" class="js-expander">Skriftstørrelse</button>
                        <div class="js-expandable instructions">Hold inn Ctrl-tasten (Cmd-tasten på Mac). Trykk samtidig på + for å
                            forstørre eller forminske teksten.
                        </div>
                    </div>
                    <fieldset class="js-language language submenu">
                        <legend class="visuallyhidden">Velg språk</legend>
                        <ul>
                            <li>
                                <input type="submit" disabled value="Bokmål"/>
                            </li>
                            <li>
                                <input type="submit" value="Nynorsk"/>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
        </div>
        <nav class="container">
            <ul class="o_tile-group menu navigation">

                <li class="tile js-responsive-expand">

                    <a class="js-responsive-expander subnav-title"
                    href="/site/hf/behandling/index.html">Behandling</a>

                    <ul class="subnav js-responsive-expandable">
                        <li>
                            <a href="/site/hf/behandling/index.html" class="category-index">Alle behandlinger</a>
                        </li>
                        <li>
                            <a href="/site/hf/behandling/opplaering.html">Opplæring</a>
                        </li>
                        <li>
                            <a href="/site/hf/rettigheter/index.html">Rettigheter</a>
                        </li>
                    </ul>

                </li>

                <li class="tile js-responsive-expand">

                    <a class="js-responsive-expander subnav-title"
                    href="/site/hf/avdelinger/index.html">Avdeling</a>

                    <ul class="subnav js-responsive-expandable">
                        <li>
                            <a href="/site/hf/avdeling/index.html">Alle sykehus og avdelinger</a>
                        </li>
                    </ul>
                </li>

                <li class="tile js-responsive-expand">

                    <a class="js-responsive-expander subnav-title"
                    href="/site/hf/helsefaglig/index.html">Helsefaglig</a>

                    <ul class="subnav js-responsive-expandable">
                        <li>
                            <a href="/site/hf/helsefaglig/samarbeid.html">Samarbeid</a>
                        </li>
                        <li>
                            <a href="/site/hf/helsefaglig/tjenester.html">Tjenester</a>
                        </li>
                        <li>
                            <a href="/site/hf/helsefaglig/forskning.html">Forskning</a>
                        </li>
                        <li>
                            <a href="/site/hf/helsefaglig/utdanning.html">Utdanning</a>
                        </li>
                        <li>
                            <a href="/site/hf/helsefaglig" class="category-index">Alt helsefaglig</a>
                        </li>
                    </ul>
                </li>

                <li class="tile js-responsive-expand">

                    <a class="js-responsive-expander subnav-title" href="/site/hf/om-oss/index.html">Om oss</a>

                    <ul class="subnav js-responsive-expandable">
                        <li>
                            <a href="/site/hf/om-oss/jobb/index.html">Ledige stillinger</a>
                        </li>
                        <li>
                            <a href="/site/hf/om-oss/pressesenter.html">Pressesenter</a>
                        </li>
                        <li>
                            <a href="/site/hf/om-oss/nyheter/index.html">Nyheter</a>
                        </li>
                        <li>
                            <a href="/site/hf/om-oss/index.html">Alt om oss</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="buttons">

                <div>
                    <a class="button" href="/site/rhf/category-index.html">
                        Alt innhold A-Å
                    </a>

                    <div class="button-label">Logg inn på helsenorge.no</div>
                </div>

                <div>
                    <a class="button external" href="">
                        English
                    </a>

                    <div class="button-label">About the hospital</div>
                </div>
            </div>
            {% include generic/page-header/breadcrumbs.html %}
        </nav>
    </div>
</header>