<div class="header-button-container">
    <button type="button" id="header-search-toggle" class="search-toggle-button collapsed" aria-label="Søk" aria-owns="header-site-search" aria-expanded="false">
        <span class="button-icon search"></span>
        <span class="text open-text">Søk</span>
        <span class="text closed-text">Lukk</span>
    </button>
    <div id="site-search" class="m_search-box js-site-search" role="search">
        <div id="header-site-search">
            <label for="header-search-input">Søk</label>
            <input id="header-search-input" name="search" type="search" placeholder="Søk i alt innhold" aria-label="Søk i alt innhold">
            <button id="header-search-button" class="header-search-icon" type="button" aria-label="Søk"></button>
        </div>
    </div>
    <button type="button" id="menuButton" class="menu-toggle-button js-menu-button js-expander expander" aria-owns="header-site-menu" aria-expanded="false">
        <span class="button-icon menu"></span>
        <span class="text open-text">Meny</span>
        <span class="text closed-text">Lukk</span>
    </button>
</div>