.a_standard-heading {
    position: relative;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: $font-xl;
    font-weight: 600;
    overflow: hidden;
    text-align: center;
    margin: 2.5rem 0;
    padding-bottom: 10px;
    border-bottom: 3px solid;
}