<div>
    <div id="ctl00_PlaceHolderMain_ctl00_PrintPanelWithExpand">

        <div class="noindex js-expand m_printdialog" id="print-dialog">

            <button class="js-expander print-icon" data-close-text="Lukk vindu" data-print-text="Utskrift">
            </button>

            <div class="js-expandable print-panel js-expand-to-full-width">

                <div class="print-heading">
                    <div class="container print-title">
                        Skriv ut
                        ADHD hos barn og unge
                    </div>
                </div>

                <div class="container">
                    <h3>
                        Velg utskrift fra denne siden
                    </h3>

                    <ul class="print-list">
                        <li>
                            <input type="checkbox" id="choseall" class="rootelement" name="chooseall" value="Velg alt">
                            <label for="choseall">Velg alt</label>
                        </li>
                    </ul>

                    <div class="print-footer">
                        <div class="ms-rtePosition-1">
                            Utskriftsdato
                            <span id="ctl00_PlaceHolderMain_ctl00_PrintDateLabel">20.07.2017</span>
                        </div>
                        <div class="ms-rtePosition-2 print-button">
                            <button onclick="window.print();">
                                Skriv ut
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>