<h1 id="ctl00_PlaceHolderMain_ctl06_diseasetitle">Brudd i håndleddet</h1>
<p id="ctl00_PlaceHolderMain_ctl06_ingress">Håndleddsbrudd er en av de vanligste bruddtypene, og er brudd like ved eller i håndleddet. Det er mange faktorer som spiller en rolle for hvilken behandling du får.</p>
<p>​​​​​​​​​​​De fleste bruddene kan og bør behandles med gips. Det er likevel en del brudd som er så kompliserte at operasjon anses som den beste behandlingen. Det gjelder cirka 30 prosent av alle håndleddsbrudd.</p>
<h3 id="ctl00_PlaceHolderMain_ctl06_sectionTitle">Gips som behandling av håndleddsbrudd</h3>
<p>Dersom&nbsp;legen velger gipsbehandling vil&nbsp;du få lokalbedøvelse. Bruddet vil deretter bli satt på plass, og til slutt vil man legge på en gips.</p>
<p>Det er viktig at du beveger fingrene hele tiden etter at du har fått gips, enten dette er endelig behandling eller du bare har gipsen midlertidig frem til operasjon. </p>
<p>De første dagene etter bruddet bør du også holde armen høyt, slik at hånden ikke blir for hoven.</p>
<p>I noen få tilfeller klarer man ikke å holde bruddet i akseptabel stilling. I slike tilfeller får&nbsp;du&nbsp;satt inn noen tynne pinner gjennom huden sammen med gips. Normal tid til gips og eventuelle pinner fjernes er 3-4 uker.</p>
<h3>Barn</h3>
<p>Brudd i håndledd hos barn kan som oftest behandles med lukket reposisjon, det vil si at bruddet settes på plass uten at man må operere, og gips. Dersom bruddet må manipuleres, får barnet oftest narkose.</p>
<a id="ctl00_PlaceHolderMain_ctl06_diseaselink" class="external" href="https://helsenorge.no/forstehjelp-og-skader/brudd-i-handledd">Les mer om Brudd i håndleddet<span class="link-location"> (helsenorge.no)</span></a>
