<div class="container">
    <div class="row">
        <div class="col-md-8">
            <nav class="m_location-picker">
                <div>Hvor skal du behandles?</div>
                <ul class="m_link-list locations">
                        <li><a href="?sted=klinikk-psykisk-helsevern-voksne-">Klinikk psykisk helsevern voksne</a></li>
                        <li><a href="?sted=sola-poliklinikk-sola-dps-">Sola poliklinikk, Sola DPS</a></li>
                        <li><a href="?sted=randaberg-poliklinikk-sola-dps-">Randaberg poliklinikk, Sola DPS</a></li>
                    </ul>
            </nav>
        </div>
    </div>
</div>