<div class="container">
    <div class="row">
        <div class="col-md-8">
            <nav class="m_location-picker">
                <div>Hvor skal du behandles?</div>
                <ul class="m_link-list locations">
                    <li><a href="?sted=sykehuset-i-elverum">Sykehuset i Elverum</a></li>
                    <li><a href="?sted=sykehuset-i-gjovik">Sykehuset i Gjøvik</a></li>
                    <li><a href="?sted=sykehuset-i-hamar">Sykehuset i Hamar</a></li>
                    <li><a href="?sted=sykehuset-i-lillehammer">Sykehuset i Lillehammer</a></li>
                    <li><a href="?sted=sykehuset-pa-tynset">Sykehuset på Tynset</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>