<div class="js-factbox m_factbox o_primary-treatment three">
    <div class="js-expand">
        <h3 class="title">This design is closer to the specification.</h3>
        <div class="js-expandable">
            <div class="ingress">

                <p>I behandling av ADHD er det viktig å tilrettelegge godt i hjemmet og på skolen, men medisinering kan være en effektiv tilleggsbehandling for mange.</p>

                <p>Den vanligste behandlingen er såkalte sentralstimulerende medisiner, som for eksempel Ritalin og Concerta.</p>

                <p>
                    <a class="external" href="http://helsenorge.no">Ventetider på Velg behandlingssted
                        <span>helsenorge.no</span></a>
                </p>
            </div>
            <div class="o_timeline">
                <ol>
                    <li>
                        <h3>Før</h3>

                        <p>Step content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec mi nec libero ullamcorper facilisis quis eget urna. Sed vulputate urna ac leo consequat, vel feugiat metus mattis.</p>

                    </li>

                    <li>
                        <h3>Under</h3>

                        <p>There's a limit to how much content can be shown at once before an expander is required. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <a href="http://google.ru">Pellentesque nec mi nec</a> libero ullamcorper facilisis quis eget urna. Sed vulputate urna ac leo consequat, vel feugiat metus mattis.
                        </p>

                        <figure>
                            <img src="http://placekitten.com/500/250" alt="Placekitten"/>
                            <figcaption>
                                <span class="attribution">Here is a placekitten.</span>
                            </figcaption>
                        </figure>

                        <p>Phasellus sollicitudin convallis dui ac consequat. Morbi sit amet leo non ligula
                            <a href="http://google.com.af">condimentum</a> aliquet quis sed augue. Vivamus vehicula magna vitae dolor rutrum cursus.
                        </p>

                    </li>

                    <li>
                        <h3>Etter</h3>

                        <p>Step content that will always be visible. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                </ol>
            </div>
            <div class="m_obs">

                <h4>Vær oppmerksom</h4>
                <p>Det er sjelden at det forekommer komplikasjoner etter rektoskopi. Hvis det blir tatt vevsprøver, hender det imidlertid at det kan blø litt. Ved kraftig blødning, må du kontakte legen eller sykehuset.</p>

                <p>Ytterst sjelden kan det gå hull på tarmen i forbindelse med undersøkelsen. Risikoen for dette er størst ved store betennelsesforandringer i tarmen.</p>
            </div>
            <dl>
                <dt>Avdeling</dt>
                <dd><a href="">Barne- og ungdomspsykiatrisk avdeling (BUP)</a></dd>

                <dt>Sted</dt>
                <dd><a href="">Sykehuset Levanger</a></dd>
                <dd><a href="">Sykehuset Namsos</a></dd>

                <dt>Oppmøte</dt>
                <dd>Enkeltbehandlingen hadde ikke oppmøtebeskrivelse, så jeg la inn denne eksempelteksten for å vise hvor Oppmøte vises.</dd>
            </dl>
        </div>
        <div class="footer">
            <a role="button" class="js-expander button-toggle">
                <span data-show-text="Vis mer" data-hide-text="Lukk"></span>
            </a>
        </div>
    </div>
</div>