<section class="o_primary-treatment js-expand">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="js-expander js-overlap-button" data-title="les-mer-om-ct,-sykehuset-namsos">
                    <div class="title">
                        Les mer om
                        CT, Sykehuset Namsos
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="js-expandable">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>CT, Sykehuset Namsos</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="ingress">

                        <p>CT er tverrsnittfotografering av aktuelle områder i kroppen med bruk av røntgenstråler. Bildene&nbsp;lages ved hjelp av et dataprogram. CT-undersøkelser&nbsp;har ulike navn avhengig av hvilken del av kroppen som skal&nbsp; undersøkes.
                        </p>

                        <h4>H4CT-undersøkelse er særlig nyttig for å:</h4>
                        <ul>
                            <li>undersøke blødninger, hjerneslag, aneurismer (utposninger på blodkar), hjernesvulster og hjerneskader.</li>
                            <li>undersøke blodkar</li><li>ledd / skjelett, frakturkartlegging</li>
                            <li>oppdage svulster og andre prosesser i hele kroppen</li>
                            <li>kontroll under og etter kreftbehandling, for å vurdere om behandlingen virker</li>
                            <li>avklare infeksjoner og betennelsestilstander, samt vurdering av lungevev</li>
                            <li>vurdere organskader ved traumer</li></ul>

                        <h5>h5 vurdere organskader ved traumer</h5>

                        <p>CT er tverrsnittfotografering av aktuelle områder i kroppen med bruk av røntgenstråler. Bildene&nbsp;lages ved hjelp av et dataprogram. CT-undersøkelser&nbsp;har ulike navn avhengig av hvilken del av kroppen som skal&nbsp; undersøkes.
                        </p>
                    </div>

                    <div class="o_timeline">
                        <ol>
                            <li>
                                <h4>Før</h4>

                                <p>Forberedelsene varierer ut fra hva som skal undersøkes. Eksakt informasjon om forberedelser til undersøkelsen sendes deg ved innkalling eller gis ved avdeling når time blir avtalt.</p>

                                <h5>h5 blah blah blah</h5>

                                <p>Det er ønskelig at du ikke har på smykker når du kommer til undersøkelse. Smykker må ofte tas av, og kan fort bli gjenglemt.</p>
                            </li>
                            <li>
                                <h4>Under</h4>
                                <p>Hvordan undersøkelsen blir utført vil variere ut fra hva som skal undersøkes.</p>
                                <p>Som regel tar undersøkelsen mellom 10 - 30 minutter, og er smertefri bortsett fra at en eventuell plastnål legges inn i en blodåre. Dette blir gjort hvis du skal ha kontrast i en blodåre. Denne tas ut etter endt undersøkelse. Man vil på forhånd bli spurt om eventuelle tidligere reaksjoner på kontrastmiddel, om allergier eller astma, og sukkersyke (diabetes). Kontrasten medfører svært sjelden ubehag, men mange føler en forbigående varme gjennom kroppen.</p>
                                <p>Du undersøkes liggende på ett motorisert bord som forflytter deg inn i åpningen på røntgenapparatet. Dette er en runding som er åpen fra begge sider. Du blir ikke stengt inne i en "tunnel". Bordet beveger seg litt når bildene tas. Det er helt avgjørende for bildekvaliteten at du ligger i ro under hele undersøkelsen. Noen vil også bli bedt om å holde pusten noen ganger. Dette for å unngå unødige bevegelser i lunge - og mageregionen.</p>
                                <p>Personalet går ut av undersøkelsesrommet når bildene blir tatt.&nbsp;Du blir observert gjennom et vindu og kan høres gjennom en mikrofon i maskinen.</p>
                            </li>
                            <li>
                                <h4>Etter</h4>
                                <h5>Hjemreise</h5>
                                <p>Ved CT-undersøkelser der kontrast er gitt intravenøst (i blodet), vil vi be deg vente i 30 minutter etter at kontrast er satt inn. For andre pasienter gjelder ingen spesiell oppfølging, dersom dette ikke er spesifisert i innkallingsbrevet.</p>
                                <h5>Resultat av undersøkelsen</h5>
                                <p>Resultatet av undersøkelsen kan du dessverre ikke få med en gang. Bildene skal granskes av en røntgenlege og svar vil bli sendt legen som henviste deg. Ved akutte tilstander vil det bli gitt et foreløpig svar like etter undersøkelsen.</p>
                            </li>
                        </ol>
                    </div>

                    <div class="m_obs">
                        <h4>Vær oppmerksom</h4>
                        <p>Det er ingen risiko forbundet med blodtrykksmåling.</p>
                    </div>

                    <p>
                        <a class="more" href="/behandlinger/ct-sykehuset-namsos?language=1044&amp;behandling=Tykk-%20og%20endetarmskreft,%20Sykehuset%20Namsos">Les mer om CT, Sykehuset Namsos
                        </a>
                    </p>
                </div>

                <div class="col-md-4 col-md-pull-right">
                    <dl>
                        <dt>
                            Avdeling
                        </dt>
                        <dd>
                            <a href="/avdelinger/medisinsk-serviceklinikk/bildediagnostikk-sykehuset-namsos">
                                Bildediagnostikk, Sykehuset Namsos
                            </a>
                        </dd>


                        <dt>
                            Sted
                        </dt>
                        <dd>
                            <a href="/steder/sykehuset-namsos">
                                Sykehuset Namsos
                            </a>
                        </dd>


                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>