<aside class="js-factbox m_factbox">

    <div class="js-expand">
        <h1 class="title">Here is the title. Here is the title. Here is the title. Here is the title. Here is the title. Here is the title. Here is the title. Here is the title. Here is the title. Here is the title. </h1>

        <div class="js-expandable">
            <p>Here is the content. Here is the content. Here is the content. <a href="sdfg">Here is the content.</a> Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content. Here is the content.</p>
        </div>

        <div class="footer">
            <a role="button" class="js-expander button-toggle">
                <span data-show-text="Vis mer" data-hide-text="Lukk"></span>
            </a>
        </div>
    </div>
</aside>