{% for item in include.data %}
<section class="m_highlighted-expander js-expand">
    <div class="container">
        <div class="js-expander">
            <div class="title">
                This is the main expander title
                <div class="subtitle">This is the expander subtitle</div>
            </div>
        </div>
    </div>
    <div class="js-expandable highlighted">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <h1>{{ item.title}}</h1>

                    {{ item.content }}

                    <div id="ctl00_PlaceHolderMain_ctl03_ctl00_ctl00_ctl03_label" style="display:none">Mer om avdelingen</div>
                    <div id="ctl00_PlaceHolderMain_ctl03_ctl00_ctl00_ctl03__ControlWrapper_RenderRichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl03_ctl00_ctl00_ctl03_label">
                        <div>
                            <br> &nbsp;
                        </div>
                        <section class="js-expand m_subtle-expander initial expand collapsed">
                            <h1 class="js-expander expander" aria-expanded="false" data-title="seksjon-m2" role="button" tabindex="0">
                                <span class="item-title">Seksjon M2</span></h1>
                            <div class="js-expandable expandable" tabindex="-1">
                                <div>M2 er ei avdeling med 9 lukka plassar som behandlar pasientar med alvorlege psykoselidingar og omfattande funksjonssvikt.</div>
                                <div>Hovudregelen er at pasientane er over 30 år og har tidlegare utgreiing og sjukehistorie som viser trong for lengre tids opphald på sjukehus. Behandlingsopplegget vert individuelt tilpassa kvar enkelt pasient og vi legg vekt på størst mogeleg grad av medverknad frå pasienten sjølv.</div>
                                <div>
                                    <br>
                                </div>
                                <div>Vår hovudmålsetjing er overføring av pasienten til eit lågare omsorgsnivå; enten til DPS eller eit tilpassa butilbod i kommunen. Som ein naturleg konsekvens fokuserer vi behandlinga rundt reduksjon og handtering av både psykosesymptom og aggresjon/valdelege handlingar, i dei tilfelle dette er aktuell problemstilling.</div>
                                <div>
                                    <br>
                                </div>
                                <div>Våre pasientar har ofte trong for døgnkontinuerleg bemanning og tett oppfølging også i tida etter at dei har flytta frå sjukehuset, og vi ser at pasienten si evne til å stå i relasjon til andre menneske spelar ei viktig rolle i arbeidet med å etablere pasienten i eigen bustad.</div>
                                <div>
                                    <br>
                                </div>
                                <div>Avdelinga er lokalisert til dr. Martens-bygget på Sandvikenområdet.</div>
                                <div>Vaktrom: 55 95 86 20</div>
                                <div>
                                    <br>
                                </div>
                            </div>
                        </section>
                        <section class="js-expand m_subtle-expander initial expand collapsed">
                            <h1 class="js-expander expander" aria-expanded="false" data-title="seksjon-s3" role="button" tabindex="0">
                                <span class="item-title">Seksjon S3</span></h1>
                            <div class="js-expandable expandable" tabindex="-1">
                                <div>Seksjon S3 er ein lukka akutt korttidspost med 9 sengeplasser lokalisert til Psykiatrisk klinikk ved Sandviken sjukehus.</div>
                                <div>Organisatorisk høyrer vi til Avdeling spesialisert psykosebehandling (ASP). Seksjonen driv hovudsakleg med utgreiing og behandling av pasientar med akutte psykosar, og vi samarbeider med andre instansar for å trygge utskriving til eigen bustad eller overføring til anna eigna behandlingstilbod.</div>
                                <div>Vaktrom: 55 95 87 30</div>
                                <div>
                                    <br> &nbsp;
                                </div>
                            </div>
                        </section>
                        <section class="js-expand m_subtle-expander initial expand collapsed">
                            <h1 class="js-expander expander" aria-expanded="false" data-title="seksjon-s4" role="button" tabindex="0">
                                <span class="item-title">Seksjon S4</span></h1>
                            <div class="js-expandable expandable" tabindex="-1">
                                <div>Seksjon S4 er ein lukka akutt korttidspost med 12 sengeplasser lokalisert til Psykiatrisk klinikk ved Sandviken sjukehus.</div>
                                <div>Organisatorisk høyrer vi til Avdeling spesialisert psykosebehandling (ASP). Seksjonen driv hovudsakleg med utgreiing og behandling av pasientar med akutte psykosar, og vi samarbeider med andre instansar for å trygge utskriving til eigen bustad eller overføring til anna eigna behandlingstilbod.</div>
                                <div>Vaktrom: 55 97 87 40</div>
                                <div>
                                    <br>
                                </div>
                            </div>
                        </section>
                        <section class="js-expand m_subtle-expander initial expand collapsed">
                            <h1 class="js-expander expander" aria-expanded="false" data-title="seksjon-s5" role="button" tabindex="0">
                                <span class="item-title">Seksjon S5</span></h1>
                            <div class="js-expandable expandable" tabindex="-1">
                                <div>Seksjon S5 er ein lukka korttidspost med 12 senger lokalisert til Psykiatrisk Klinikk Sandviken.</div>
                                <div>Organisatorisk høyrer vi til Avdeling Spesialisert Psykosebehandling (ASP). Seksjonen driv hovudsakleg med utgreiing og behandling av pasientar med akutte psykosar, og vi samarbeider med andre instansar for å trygge utskriving til eigen bustad eller overføring til anna eigna behandlingstilbod.</div>
                                <div>
                                    <br> &nbsp;
                                </div>
                            </div>
                        </section>
                        <section class="js-expand m_subtle-expander initial expand collapsed">
                            <h1 class="js-expander expander" aria-expanded="false" data-title="seksjon-tpm" role="button" tabindex="0">
                                <span class="item-title">Seksjon TPM</span></h1>
                            <div class="js-expandable expandable" tabindex="-1">
                                <div>TPM (Tidleg psykose Martens) er ei lukka avdeling for menneske med alvorleg psykose- og rusliding.</div>
                                <div>Avdelinga er lokalisert til dr. Martens-bygget på Sandvikenområdet. Vi tar imot pasientar frå 18 - 30 år, og har åtte behandlingsplassar. Organisatorisk høyrer vi til Avdeling Spesialisert Psykosebehandling (ASP).</div>
                                <div>
                                    <br>
                                </div>
                                <div>Vi gjennomfører utgreiing, stabilisering, rus– og psykosebehandling, sikrar oppfølging av annan hjelpeinstans og utskriving til eit best mogleg eigna butilbod.</div>
                                <div>Vår målsetting er ikkje nødvendigvis fullstendig rusfridom, men kan vera å bidra til endring/skadereduksjon i forhold til rusproblemet.</div>
                                <div>
                                    <br>
                                </div>
                                <div>Ved avdelinga tilbyr vi ei integrert behandling der ein tar sikte på å behandla både psykosesymptomane og rusavhengnaden. Behandlinga er individuelt tilpassa kvar enkelt pasient.</div>
                                <div>Vaktrom: 55 95 86 13</div>
                                <div>
                                    <br>
                                </div>
                            </div>
                        </section>
                        <section class="js-expand m_subtle-expander initial expand collapsed">
                            <h1 class="js-expander expander" aria-expanded="false" data-title="seksjon-tps" role="button" tabindex="0">
                                <span class="item-title">Seksjon TPS</span></h1>
                            <div class="js-expandable expandable" tabindex="-1">
                                <div>TPS (Tidleg psykose Sandviken) er ein lukka psykosepost med 12 døgnplasser for nysjuke pasienter mellom 15 og 30 år.</div>
                                <div>Pasientene kan vere innlagt frivillig eller på tvang. Vi gjennomfører utgreiing, oppstart av behandling og kunnskapsbasert familiesamarbeid. Behandlinga er individuelt tilpassa kvar enkelt pasient og vi sikrar oppfølging av anna instans etter utskriving.</div>
                                <div>Vaktrom: 55 95 88 15/ 55 95 87 50</div>
                            </div>
                        </section>
                        <h2>&nbsp; &nbsp;</h2>
                        <h3>Ansvarsområde</h3>
                        <div>
                            <div>
                                <a href="/seksjon/psykiatrisk%20klinikk/Sider/Dognbehandling-av-akutt-psykose-og-psykose-med-komplisert-forlop.aspx" class="a_link-list-item simple">Døgnbehandling akutt psykose og psykose med komplisert forløp</a>
                            </div>
                            <div>
                                <a href="/seksjon/psykiatrisk%20klinikk/Sider/Utgreiing-og-behandling-av-unge-med-psykosar.aspx" class="a_link-list-item simple">Utgreiing og behandling av unge med psykosar</a>
                            </div>
                            <div>
                                <a href="/seksjon/psykiatrisk%20klinikk/Sider/Utgreiing-av-kompliserte-psykosetilstandar.aspx" class="a_link-list-item simple">Utgreiing av kompliserte psykosetilstander</a>
                            </div>
                            <div><br></div>
                            <br></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}