<div class="org_filters-v2__filterfooter">
    <span class="numresults" aria-live="polite" aria-atomic="true">
        <span class="visuallyhidden"></span>
        <span>54 av 325 kliniske studier</span>
    </span>
    <span class="listview-toggle">
        <button type="button" title="Vis som liste">
            <svg class="jss1 jss9" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z"></path>
                <path fill="none" d="M0 0h24v24H0z"></path>
            </svg>
        </button>
    </span>
</div>