{% if page.type == "ingressview" %}
<ul class="m_page-list">
        <li class="letter-category">
            <div class="letter">0-9</div>
            <ul class="links-column">
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/3-eller-5-ar-med-imatinib-etter-gist-operasjon">3 eller 5 år med imatinib etter GIST operasjon</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/52-diettens-effekt-pa-vekt-og-hjerte-og-karrisiko">5:2-diettens effekt på vekt og hjerte- og karrisiko</a></div>
                    <div class="summary">Vi undersøker om 5:2 dietten gir samme reduksjon i vekt og i risikoen for hjerte- og karsykdom som en jevn energireduksjon.</div>
                </li>
            </ul>
        </li>
        <li class="letter-category">
            <div class="letter">A</div>
            <ul class="links-column">
                <li>
                    <div class="link"><a class="external" href="https://unn.hn.test.nhn.no/kliniske-studier/adhd-og-omega-3-kan-omega-3-hjelpe-pa-symptomer-pa-adhd-og-add">ADHD og OMEGA-3: Kan omega-3 hjelpe på symptomer på ADHD og ADD?</a></div>
                    <div class="summary">«ADHD Omega-3» er et forskningsprosjekt for å se på effekten av omega-3 olje på konsentrasjon, hyperaktivitet og impulsvansker hos barn og ungdom med ADHD og ADD.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/adjuvant-kjemoterapi-hos-eldre-operert-for-tykktarmskreft">Adjuvant kjemoterapi hos eldre operert for tykktarmskreft</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://unn.hn.test.nhn.no/kliniske-studier/aktivitet-i-hjernens-nettverk-ved-komplekst-regionalt-smertesyndrom-for-og-etter-behandling-med-graded-motor-imagery-og-beroringstrening">Aktivitet i hjernens nettverk ved komplekst regionalt smertesyndrom før og etter behandling med «Graded Motor Imagery» og Berøringstrening</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/akutt-myelogen-leukemi-behandling-med-ny-medisin-bgb324">Akutt myelogen leukemi - behandling med ny medisin BGB324</a></div>
                    <div class="summary">Studien skal gi svar på hva som er beste dosering av tablettbehandling med BGB324, kartlegge eventuelle bivirkninger og se etter effekt på sykdommen Akutt myelogen leukemi.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/allopurinol-og-beskyttelse-av-hjertet-ved-donasjon-av-nyre">Allopurinol og beskyttelse av hjertet ved donasjon av nyre</a></div>
                    <div class="summary">Kan allopurinol beskytte hjertet hos personer som har gitt bort en nyre, ved å bremse vekst av hjertemuskelveggen?</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/analyse-av-blod-fra-kreftsvulster-i-tynntarmen-net">Analyse av blod fra kreftsvulster i tynntarmen (NET)</a></div>
                    <div class="summary">Kliniske studier: Kan analyse av blod gjøre diagnose og behandling mer nøyaktig for pasienter med tynntarmkreft? </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/anatomi-og-muskelstyrke-i-bekkenbunnen-hos-kvinner">Anatomi og muskelstyrke i bekkenbunnen hos kvinner</a></div>
                    <div class="summary">Formålet med studien er å undersøke om kvinner som skal opereres for underlivsfremfall har nytte av bekkenbunnstrening i ventetiden før operasjon. Vi vil også utvikle en skala for mål av styrke i bekkenbunnsmuskulatur med ultralyd. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/anoreksi-effekt-av-kognitiv-atferdsterapi-cbt-e-ved-anoreksi">Anoreksi: Effekt av kognitiv atferdsterapi (CBT-E) ved anoreksi</a></div>
                    <div class="summary">Formålet med denne studien er i utgangspunktet å evaluere en kognitiv behandlingsform som strekker seg over et år, og se på årsaker til at pasienter avslutter behandlingen før den er fullført. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antibiotika-ved-langvarige-korsryggsmerter-og-modic-forandringer">Antibiotika ved langvarige korsryggsmerter og Modic forandringer</a></div>
                    <div class="summary">Kan Amoxicillin redusere plager hos personer som har hatt ryggsmerter i minst et halvt år etter skiveprolaps, og som nå har Modic forandringer på MR?</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antibiotika-ved-lungebetennelse-hos-barn">Antibiotika ved lungebetennelse hos barn</a></div>
                    <div class="summary">I denne studien skal vi se om behandling med antibiotika gir færre symptomer, og reduserer effekten av behandling hos ett til fem år gamle barn med akutt lungebetennelse. Vi skal også se om det fører til utvikling av antiobiotikaresistens. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antiinflammatorisk-legemiddel-ved-langvarige-korsryggsmerter-og-modicforandringer">Antiinflammatorisk legemiddel ved langvarige korsryggsmerter og Modicforandringer</a></div>
                    <div class="summary">Kan antiinflammatorisk legemiddel redusere smerte og bedre funksjon ved langvarige korsryggsmerter?</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/solide-ondartede-svulster-studie-for-a-evaluere-sikkerhet-og-toleranse-av-antistoffet-can04">Antistoffet CAN04 mot solide ondartede svulster</a></div>
                    <div class="summary">Vi undersøker sikkerhet og effekt av antistoffet CAN04 for å fastslå den høyeste dosen som det er trygt å gi til kreftpasienter.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antivirusmedisin-ved-diabetes">Antivirusmedisin ved diabetes</a></div>
                    <div class="summary">Kan antivirus-medisin bevare kroppens evne til å produsere insulin ved nyoppdaget type 1-diabetes</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/apparat-som-stimulerer-huden-i-oret-for-a-redusere-epileptiske-anfall">Apparat som stimulerer huden i øret for å redusere epileptiske anfall</a></div>
                    <div class="summary">Det er utviklet et nytt apparat som uten noen form for operasjon kan festes til øret. Vi vil i denne studien teste hvor godt dette apparatet virker mot epileptiske anfall og hvor brukervennlig det er.
                    </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/arvelig-brystkreft-cellegift-gitt-i-kombinasjon-med-parp-hemmer-hos-pasienter">Arvelig brystkreft: Cellegift gitt i kombinasjon med PARP-hemmer hos pasienter</a></div>
                    <div class="summary">Vi finner ut om PARP-hemmeren veliparib i kombinasjon med cellegift forbedrer effekten av cellegift hos pasienter med arvelig brystkreft.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/aterosklerose-og-hjerneinfarkt">Aterosklerose og hjerneinfarkt</a></div>
                    <div class="summary">Studien ser på egenskaper ved blodproppen og markører i blodet kan ha betydning for behandling og forebygging av nye hjerneslag.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/atrieflimmer-ved-kryptogene-hjerneslag">Atrieflimmer ved kryptogene hjerneslag</a></div>
                    <div class="summary">Formålet med studien er å undersøke om det er en sammenheng mellom atrieflimmer og hjerneslag.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/avbrudd-i-hormonbehandling-etter-brystkreft-ved-graviditet">Avbrudd i hormonbehandling etter brystkreft ved graviditet</a></div>
                    <div class="summary">Er det trygt å avbryte hormonbehandling for å gjennomføre graviditet? Ble svangerskapet vellykket og gikk det bra å amme barnet?</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/avslutning-av-glivecbehandling-ved-gist">Avslutning av Glivecbehandling ved GIST</a></div>
                    <div class="summary">Studien skal se om pasienter som har hatt langvarig respons på Glivec og har fjernet sine få metastaser kirurgisk faktisk kan være kurert for sin GIST sykdom og derfor behandles «unødvendig» med Glivec</div>
                </li>
            </ul>
        </li>
        <li class="letter-category">
            <div class="letter">B</div>
            <ul class="links-column">
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/barn-med-tilbakefall-av-akutt-lymfatisk-leukemi">Barn med tilbakefall av akutt lymfatisk leukemi</a></div>
                    <div class="summary">Behandling for barn med tilbakefall av Akutt lymfatisk leukemi (ALL).</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/barns-opplevelse-av-smerte-ved-gjentatte-sproytestikk">Barns opplevelse av smerte ved gjentatte sprøytestikk</a></div>
                    <div class="summary">Vi undersøker hvordan barn med barneleddgikt (juvenil idiopatisk artritt) og deres foreldre opplever gjentatte sprøytestikk</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://ahus.hn.test.nhn.no/kliniske-studier/behandle-avrevet-akillessene-med-eller-uten-operasjon">Behandle avrevet akillessene med eller uten operasjon?</a></div>
                    <div class="summary">Vi undersøker om behandling av avrevet akillessene er best med eller uten operasjon. Studien sammenligner behandlingsresultatene mellom tre ulike behandlingsmetoder.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandling-av-hoyt-blodtrykk-og-oppfolging">Behandling av høyt blodtrykk og oppfølging</a></div>
                    <div class="summary">Vi følger blodtrykket i 2-4 uker etter at du ved loddtrekking deltar i en av to grupper. Den ene gruppen følges tettere opp.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://siv.hn.test.nhn.no/kliniske-studier/behandling-av-nyrebetennelse-med-pivmecillinam">Behandling av nyrebetennelse med pivmecillinam</a></div>
                    <div class="summary">Vi ønsker å undersøke om behandling med antibiotika som i mindre grad påvirker bakteriefloraen vår, kan gi like god effekt og kanskje gi færre bivirkninger. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandling-av-prostatakreft-med-hoyintensiv-ultralyd-eller-operasjon">Behandling av prostatakreft med høyintensiv ultralyd eller operasjon</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandling-med-eller-uten-betablokkere-ved-hjerteinfarkt">Behandling med eller uten betablokkere ved hjerteinfarkt</a></div>
                    <div class="summary">Hensikten med studien er å undersøke om medisinen betablokker alltid skal gis til pasienter som har hatt hjerteinfarkt. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://sykehuset-ostfold.hn.test.nhn.no/kliniske-studier/behandling-med-ny-medisin-i-utredning-av-blodpropp-dyp-venetrombose-rischedule-studien">Behandling med ny medisin i utredning av blodpropp (dyp venetrombose) – RiSchedule-studien</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-stavanger.hn.test.nhn.no/kliniske-studier/behandling-og-behandlingsrespons-hos-pasienter-med-inflammatorisk-tarmsykdom-i-rogaland">Behandling og behandlingsrespons hos pasienter med inflammatorisk tarmsykdom i Rogaland.</a></div>
                    <div class="summary">Målsetningen er å undersøke forløpet av sykdommen, behandlingsrespons, komplikasjoner og livskvalitet og fatigue (utmattelse). </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandlingsstopp-av-kronisk-hepatitt-b">Behandlingsstopp av kronisk hepatitt B</a></div>
                    <div class="summary">Tablettbehandling av kronisk hepatitt B-virusinfeksjon har blitt gitt på ubestemt tid. Hvis behandlingen stopper, vil noen bli kvitt viruset.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://unn.hn.test.nhn.no/kliniske-studier/bekreftende-studie-for-vurdering-av-sikkerhet-og-effektivitet-av-gelrinc-for-behandling-av-leddbruskskader">Bekreftende studie for vurdering av sikkerhet og effektivitet av GelrinC® for behandling av leddbruskskader</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://vestreviken.hn.test.nhn.no/kliniske-studier/betablokker-eller-kalsiumblokker-ved-kronisk-hjerteflimmer">Betablokker eller kalsiumblokker ved kronisk hjerteflimmer?</a></div>
                    <div class="summary">Vi undersøker langtidseffekten av to ulike pulsbremsende medisiner hos pasienter med kronisk hjerteflimmer (atrieflimmer).</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://sykehuset-ostfold.hn.test.nhn.no/kliniske-studier/betennelsesdempende-legemiddel-naproxen-ved-isjias">Betennelsesdempende legemiddel (Naproxen) ved Isjias</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://vestreviken.hn.test.nhn.no/kliniske-studier/bet-ikke-bra-for-meg">BET – Ikke bra for meg</a></div>
                    <div class="summary">BET - Ikke bra for meg! En studie av erfaringer fra personer som opplever at Basal eksponeringsterapi (BET) ikke var bra for dem.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/blodansamling-under-hjernehinnen">Blodansamling under hjernehinnen</a></div>
                    <div class="summary">Hvordan redusere tilbakefall av blodansamling under den harde hjernehinnen etter operasjon, og forkorte helbredelsesprosessen?</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blodkreft-eryaspase-behandling-for-barn-og-unge-som-ikke-taler-peg-asparaginase">Blodkreft: Eryaspase-behandling for barn og unge som ikke tåler peg-asparaginase</a></div>
                    <div class="summary">Noen pasienter kan bli allergiske for PEG-Asparaginase – ett av legemidlene som inngår i behandlingen av blodkreft. I studien vil man gi legemiddelet eryaspase til disse pasientene. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blodpropp-pradaxa-i-forebygging-av-venos-blodpropp-hos-barn">Blodpropp: Pradaxa i forebygging av venøs blodpropp hos barn</a></div>
                    <div class="summary">Forskningsprosjektet skal evaluere sikkerheten av Pradaxa i forebygging av tilbakevendende venøse blodpropper hos barn fra nyfødte til 18 års alder, som har blitt behandlet med blodfortynnende i minst 3 måneder. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blodpropp-pradaxa-sammenlignet-med-standardbehandling-av-venos-blodpropp-hos-barn">Blodpropp: Pradaxa sammenlignet med standardbehandling av venøs blodpropp hos barn</a></div>
                    <div class="summary">Studien skal sammenligne legemiddelet Pradaxa med standardbehandling hos barn som trenger behandling for venøs blodpropp. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/blokkering-av-nerveknute-i-ansiktet-med-botox-for-pasienter-med-kronisk-nesetetthet">Blokkering av nerveknute i ansiktet med Botox for pasienter med kronisk nesetetthet</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blere-mirabegron-til-barn-med-nevrogen-overaktiv-blere">Blære: Miirabegron til barn med nevrogen overaktiv blære</a></div>
                    <div class="summary">En studie for å undersøke hvor effektivt og sikkert studielegemiddelet mirabegron er for barn og ungdommer fra 3 til 18 år med symptomer på overaktiv blære av nevrologisk årsak. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/blodning-og-sarveske-etter-fjerning-av-bryst">Blødning og sårvæske etter fjerning av bryst</a></div>
                    <div class="summary">Vi ønsker å finne ut om et bestemt blødningsdempende medikament, traneksamsyre, reduserer blødning og dannelsen av sårvæske når det blir påført en sårflate.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/bms-986205-og-nivolumab-ved-langtkommen-kreft">BMS-986205 og nivolumab ved langtkommen kreft</a></div>
                    <div class="summary">Kan BMS-986205 sammen med nivolumab og ipilimumab kreft bedre behandlingen av ved langtkommen føflekk-, lunge- eller blærekreft?</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/botox-blokkering-av-dyp-nerveknute-hos-pasienter-med-persisterende-idiopatiske-ansiktssmerter">Botox blokkering av dyp nerveknute hos pasienter med Persisterende idiopatiske ansiktssmerter</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/brudd-i-ovre-del-av-overarmsbeinet">Brudd i øvre del av overarmsbeinet</a></div>
                    <div class="summary">Vi ønsker å finne ut hvilken av to etablerte behandlingsmetoder som gir best resultat ved komplekse brudd i øvre del av overarmen.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/bruk-av-langtidsvirkende-smertestillende-etter-kneproteseoperasjon">Bruk av langtidsvirkende smertestillende etter kneproteseoperasjon</a></div>
                    <div class="summary">Studiens formål er å finne den beste «smertelindringspakken» etter operasjon for kneprotese. Vi prøver ut tre ulike pakker samtidig, og sammenligner to ulike langtidsvirkende smertestillende mot placebo. </div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://sunnaas.hn.test.nhn.no/kliniske-studier/bruk-av-telemedisin-som-virkemiddel-til-samhandling-i-poliklinisk-oppfolging-av-pasienter-med-ryggmargsskade-og-trykksar">Bruk av telemedisin som virkemiddel til samhandling i poliklinisk oppfølging av pasienter med ryggmargsskade og trykksår</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://ahus.hn.test.nhn.no/kliniske-studier/bruskskade-i-kne-bruskcelletransplantasjon">Bruskskade i kne - bruskcelletransplantasjon</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://ahus.hn.test.nhn.no/kliniske-studier/bruskskade-i-kne-mikrofraktur">Bruskskade i kne - mikrofraktur</a></div>
                    <div class="summary"></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/brystkreft-og-p53-genfeil-cellegiftbehandling-med-cyclofosfamid">Brystkreft og p53-genfeil: Cellegiftbehandling med cyclofosfamid</a></div>
                    <div class="summary">Vi undersøker om genfeil i p53-genet eller andre sentrale gener i kreftsvulsten er avgjørende for om svulsten responderer eller ikke på cellegiftbehandling hos pasienter med brystkreft.</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/brystkreft-petremac-persontilpasset-behandling">Brystkreft - PETREMAC: Persontilpasset behandling</a></div>
                    <div class="summary">Studien skal forsøke å identifisere genfeil i kreftsvulsten, som gjør oss i stand til å forutsi hvilke pasienter som trenger en bestemt kreftbehandling i fremtiden. </div>
                </li>
            </ul>
        </li>
        <li class="letter-category">
            <div class="letter">C</div>
            <ul class="links-column">
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/carfilzomib-og-lenalidomid-mot-plasmacelleleukemi">Carfilzomib og lenalidomid mot plasmacelleleukemi</a></div>
                    <div class="summary">Kan medikamentene Carfilzomib og Lenalidomide bedre behandlingen av benmargskreften plasmacelleleukemi?</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/cellegift-og-nintendanib-mot-livmorslimhinnekreft">Cellegift og nintendanib mot livmorslimhinnekreft</a></div>
                    <div class="summary">Vi undersøker om behandling med nintendanib kan utsette eventuelt tilbakefall hos kvinner med avansert kreft i endometriet (livmorslimhinnen).</div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/cellegift-ved-refrakter-ewings-sarkom">Cellegift ved refraktær Ewings sarkom</a></div>
                    <div class="summary">Denne studien er en sammenligning av fire velkjente cellegiftregimer for å behandle Ewing sarkom. Studien sammenligner effekten og bivirkningene av de forskjellige regimene.</div>
                </li>
            </ul>
        </li>
    </ul>
{% else %}

<ul class="m_page-list">
        <li class="letter-category">
            <div class="letter">0-9</div>
            <ul class="links">
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/3-eller-5-ar-med-imatinib-etter-gist-operasjon">3 eller 5 år med imatinib etter GIST operasjon</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/52-diettens-effekt-pa-vekt-og-hjerte-og-karrisiko">5:2-diettens effekt på vekt og hjerte- og karrisiko</a></div>
                </li>
            </ul>
        </li>
        <li class="letter-category">
            <div class="letter">A</div>
            <ul class="links">
                <li>
                    <div class="link"><a class="external" href="https://unn.hn.test.nhn.no/kliniske-studier/adhd-og-omega-3-kan-omega-3-hjelpe-pa-symptomer-pa-adhd-og-add">ADHD og OMEGA-3: Kan omega-3 hjelpe på symptomer på ADHD og ADD?</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/adjuvant-kjemoterapi-hos-eldre-operert-for-tykktarmskreft">Adjuvant kjemoterapi hos eldre operert for tykktarmskreft</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://unn.hn.test.nhn.no/kliniske-studier/aktivitet-i-hjernens-nettverk-ved-komplekst-regionalt-smertesyndrom-for-og-etter-behandling-med-graded-motor-imagery-og-beroringstrening">Aktivitet i hjernens nettverk ved komplekst regionalt smertesyndrom før og etter behandling med «Graded Motor Imagery» og Berøringstrening</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/akutt-myelogen-leukemi-behandling-med-ny-medisin-bgb324">Akutt myelogen leukemi - behandling med ny medisin BGB324</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/allopurinol-og-beskyttelse-av-hjertet-ved-donasjon-av-nyre">Allopurinol og beskyttelse av hjertet ved donasjon av nyre</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/analyse-av-blod-fra-kreftsvulster-i-tynntarmen-net">Analyse av blod fra kreftsvulster i tynntarmen (NET)</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/anatomi-og-muskelstyrke-i-bekkenbunnen-hos-kvinner">Anatomi og muskelstyrke i bekkenbunnen hos kvinner</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/anoreksi-effekt-av-kognitiv-atferdsterapi-cbt-e-ved-anoreksi">Anoreksi: Effekt av kognitiv atferdsterapi (CBT-E) ved anoreksi</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antibiotika-ved-langvarige-korsryggsmerter-og-modic-forandringer">Antibiotika ved langvarige korsryggsmerter og Modic forandringer</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antibiotika-ved-lungebetennelse-hos-barn">Antibiotika ved lungebetennelse hos barn</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antiinflammatorisk-legemiddel-ved-langvarige-korsryggsmerter-og-modicforandringer">Antiinflammatorisk legemiddel ved langvarige korsryggsmerter og Modicforandringer</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/solide-ondartede-svulster-studie-for-a-evaluere-sikkerhet-og-toleranse-av-antistoffet-can04">Antistoffet CAN04 mot solide ondartede svulster</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/antivirusmedisin-ved-diabetes">Antivirusmedisin ved diabetes</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/apparat-som-stimulerer-huden-i-oret-for-a-redusere-epileptiske-anfall">Apparat som stimulerer huden i øret for å redusere epileptiske anfall</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/arvelig-brystkreft-cellegift-gitt-i-kombinasjon-med-parp-hemmer-hos-pasienter">Arvelig brystkreft: Cellegift gitt i kombinasjon med PARP-hemmer hos pasienter</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/aterosklerose-og-hjerneinfarkt">Aterosklerose og hjerneinfarkt</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/atrieflimmer-ved-kryptogene-hjerneslag">Atrieflimmer ved kryptogene hjerneslag</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/avbrudd-i-hormonbehandling-etter-brystkreft-ved-graviditet">Avbrudd i hormonbehandling etter brystkreft ved graviditet</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/avslutning-av-glivecbehandling-ved-gist">Avslutning av Glivecbehandling ved GIST</a></div>
                </li>
            </ul>
        </li>
        <li class="letter-category">
            <div class="letter">B</div>
            <ul class="links">
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/barn-med-tilbakefall-av-akutt-lymfatisk-leukemi">Barn med tilbakefall av akutt lymfatisk leukemi</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/barns-opplevelse-av-smerte-ved-gjentatte-sproytestikk">Barns opplevelse av smerte ved gjentatte sprøytestikk</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://ahus.hn.test.nhn.no/kliniske-studier/behandle-avrevet-akillessene-med-eller-uten-operasjon">Behandle avrevet akillessene med eller uten operasjon?</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandling-av-hoyt-blodtrykk-og-oppfolging">Behandling av høyt blodtrykk og oppfølging</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://siv.hn.test.nhn.no/kliniske-studier/behandling-av-nyrebetennelse-med-pivmecillinam">Behandling av nyrebetennelse med pivmecillinam</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandling-av-prostatakreft-med-hoyintensiv-ultralyd-eller-operasjon">Behandling av prostatakreft med høyintensiv ultralyd eller operasjon</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandling-med-eller-uten-betablokkere-ved-hjerteinfarkt">Behandling med eller uten betablokkere ved hjerteinfarkt</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://sykehuset-ostfold.hn.test.nhn.no/kliniske-studier/behandling-med-ny-medisin-i-utredning-av-blodpropp-dyp-venetrombose-rischedule-studien">Behandling med ny medisin i utredning av blodpropp (dyp venetrombose) – RiSchedule-studien</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-stavanger.hn.test.nhn.no/kliniske-studier/behandling-og-behandlingsrespons-hos-pasienter-med-inflammatorisk-tarmsykdom-i-rogaland">Behandling og behandlingsrespons hos pasienter med inflammatorisk tarmsykdom i Rogaland.</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/behandlingsstopp-av-kronisk-hepatitt-b">Behandlingsstopp av kronisk hepatitt B</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://unn.hn.test.nhn.no/kliniske-studier/bekreftende-studie-for-vurdering-av-sikkerhet-og-effektivitet-av-gelrinc-for-behandling-av-leddbruskskader">Bekreftende studie for vurdering av sikkerhet og effektivitet av GelrinC® for behandling av leddbruskskader</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://vestreviken.hn.test.nhn.no/kliniske-studier/betablokker-eller-kalsiumblokker-ved-kronisk-hjerteflimmer">Betablokker eller kalsiumblokker ved kronisk hjerteflimmer?</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://sykehuset-ostfold.hn.test.nhn.no/kliniske-studier/betennelsesdempende-legemiddel-naproxen-ved-isjias">Betennelsesdempende legemiddel (Naproxen) ved Isjias</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://vestreviken.hn.test.nhn.no/kliniske-studier/bet-ikke-bra-for-meg">BET – Ikke bra for meg</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/blodansamling-under-hjernehinnen">Blodansamling under hjernehinnen</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blodkreft-eryaspase-behandling-for-barn-og-unge-som-ikke-taler-peg-asparaginase">Blodkreft: Eryaspase-behandling for barn og unge som ikke tåler peg-asparaginase</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blodpropp-pradaxa-i-forebygging-av-venos-blodpropp-hos-barn">Blodpropp: Pradaxa i forebygging av venøs blodpropp hos barn</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blodpropp-pradaxa-sammenlignet-med-standardbehandling-av-venos-blodpropp-hos-barn">Blodpropp: Pradaxa sammenlignet med standardbehandling av venøs blodpropp hos barn</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/blokkering-av-nerveknute-i-ansiktet-med-botox-for-pasienter-med-kronisk-nesetetthet">Blokkering av nerveknute i ansiktet med Botox for pasienter med kronisk nesetetthet</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/blere-mirabegron-til-barn-med-nevrogen-overaktiv-blere">Blære: Miirabegron til barn med nevrogen overaktiv blære</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/blodning-og-sarveske-etter-fjerning-av-bryst">Blødning og sårvæske etter fjerning av bryst</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/bms-986205-og-nivolumab-ved-langtkommen-kreft">BMS-986205 og nivolumab ved langtkommen kreft</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/botox-blokkering-av-dyp-nerveknute-hos-pasienter-med-persisterende-idiopatiske-ansiktssmerter">Botox blokkering av dyp nerveknute hos pasienter med Persisterende idiopatiske ansiktssmerter</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/brudd-i-ovre-del-av-overarmsbeinet">Brudd i øvre del av overarmsbeinet</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://stolav.hn.test.nhn.no/kliniske-studier/bruk-av-langtidsvirkende-smertestillende-etter-kneproteseoperasjon">Bruk av langtidsvirkende smertestillende etter kneproteseoperasjon</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://sunnaas.hn.test.nhn.no/kliniske-studier/bruk-av-telemedisin-som-virkemiddel-til-samhandling-i-poliklinisk-oppfolging-av-pasienter-med-ryggmargsskade-og-trykksar">Bruk av telemedisin som virkemiddel til samhandling i poliklinisk oppfølging av pasienter med ryggmargsskade og trykksår</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://ahus.hn.test.nhn.no/kliniske-studier/bruskskade-i-kne-bruskcelletransplantasjon">Bruskskade i kne - bruskcelletransplantasjon</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://ahus.hn.test.nhn.no/kliniske-studier/bruskskade-i-kne-mikrofraktur">Bruskskade i kne - mikrofraktur</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/brystkreft-og-p53-genfeil-cellegiftbehandling-med-cyclofosfamid">Brystkreft og p53-genfeil: Cellegiftbehandling med cyclofosfamid</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://helse-bergen.hn.test.nhn.no/kliniske-studier/brystkreft-petremac-persontilpasset-behandling">Brystkreft - PETREMAC: Persontilpasset behandling</a></div>
                </li>
            </ul>
        </li>
        <li class="letter-category">
            <div class="letter">C</div>
            <ul class="links">
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/carfilzomib-og-lenalidomid-mot-plasmacelleleukemi">Carfilzomib og lenalidomid mot plasmacelleleukemi</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/cellegift-og-nintendanib-mot-livmorslimhinnekreft">Cellegift og nintendanib mot livmorslimhinnekreft</a></div>
                </li>
                <li>
                    <div class="link"><a class="external" href="https://oslo-universitetssykehus.hn.test.nhn.no/kliniske-studier/cellegift-ved-refrakter-ewings-sarkom">Cellegift ved refraktær Ewings sarkom</a></div>
                </li>
            </ul>
        </li>
    </ul>
{% endif %}