.m_commontextmessages {
    padding: 1rem;
    #messagecontrols {
        margin-top: 1rem;
    }
    #editpanel {
        margin-top: 1rem;
        button {
            &.submit {
                margin-right: 1rem;
            }
        }
    }
}
