.m_location-picker {


    div {
        font-weight: 600;
        font-size: $font-l
    }

    ul.m_link-list.locations {
        list-style-type: none;
        padding-left: 0;

        li {
            // margin: 1rem 0;
            border-bottom: 1px solid $grey-md;
            margin: 0;
            &:first-child {
                margin-top: 0;
                border-top: 1px solid $grey-md;
            }

            a {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 0;
                text-decoration: none;
                font-size: $font-l;

                &::after {
                    content: "";
                    height: 2rem;
                    width: 3rem;
                    background: url($chevron-blue-grey) center bottom / 1.25rem no-repeat;
                    transform: rotate(-90deg);
                    transition: .3s;
                }

                &:hover {
                    background-color: rgba($blue, 0.1);

                    &::after {
                        background-image: url($chevron-blue);
                    }
                }
            }
        }
    }
}