@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.App {
  text-align: center;
}
.liste-wrapper{
  width:300px;
  background-color: white;
  margin-top: 20px;
  padding:10px;
  margin-left:50px;
  opacity: 0.9;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;

}
.headerTekstVei{
  font-family: 'Open Sans', sans-serif;
  border-bottom:2px solid black;
  text-align:left;

}
.featurebox {
  display: flex;
  margin:5px;
  border-bottom:1px solid black;
  padding:6px;
  font-size: 17px;
  background-color: unset;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
.featurebox:hover {
  background-color:#024584;
  color:white;
  cursor: pointer;
  font-weight: 500;
}
.headerTekstVei{
  margin-left:14px;
}
.featurebox:focus{
  font-size: 17px;
  background: rgb(17, 150, 190);
  color:white;
}
.drop-down-vis-mobil{
  display:none;
}
.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-height: 929px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .featurebox {
      display: flex;
      margin:5px;
      border-bottom:1px solid black;
      padding:4px;
      font-size: 11px;
      background-color: unset;
      border: none;
      font-family: 'Open Sans', sans-serif;
    }
  }
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .featurebox{
      font-size:15px;
      display:none;
    }
    .drop-down-vis-mobil{
      display:inline;
      padding:5px;
      font-size:1rem;
      font-family: 'Open Sans', sans-serif;
    }
    .headerTekstVei{
      font-family: 'Open Sans', sans-serif;
      border-bottom:2px solid black;
      font-size: 1.5rem;
      text-align:left;
    }
    .liste-wrapper{
      width:100;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      margin-top: 0px;
      padding:10px;
      margin-left:25px;
      opacity: 0.9;
      border-radius: 10px;
      font-family: 'Open Sans', sans-serif;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
