// FNSP colors
$blue-grey: #cddbe8;
$blue-lt: #78b1e0;
$blue: #034584;
$blue-md: #3871ab;
$blue-dk: #01315e;

$yellow: #fdfad3;
$blue-on-yellow: #2268a8;
$grey-on-grey: #d2d8da;

$grey-lt: #f4f4f2;
$grey-md-lt: #e6e5e1;
$grey-md: #b6aea8;
$grey-md-dk: #6e6e6e;
$grey-md-dk-dk: #515151;
$grey-dk: #252525;