@import './variables.scss';

.fakeradio {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    border: 0.05rem solid $blue;
    margin-left: 4px;
    margin-top: 3px;

    &.disabled {
        border-color: grey;
        opacity: .4;
    }
}

.checkmark {
    display: flex;
    cursor: pointer;
    background-color: white;
    border: none;
    color: $blue;
    bottom: 1em;
    font-size: 18pt;

    &:after {
        margin-left: 0;
        content: '';
        display: block;
        background: url('../svg/check-thicker-outline.svg')no-repeat center;
        background-size: contain;
        height: 1.3rem;
        width: 1.3rem;
    }
}