@import './variables.scss';
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 1216px;


    .row {
        margin-left: -16px;
        margin-right: -16px;
    }

    .col-md-8 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        padding-right: 16px;
    
    }
}

.header {
    background-color: rgba($color: #034584, $alpha: 0.1);
    padding: 2rem 12rem;
    width: 1216px;
}



.catalog {
    ul {
        list-style-type: none;
        padding: 0;

        
    }
}



@media (min-width: 944px) {
    .col-md-8 {
        width: 66.66667%;
    }
}
