@import './variables.scss';
.selected-filters {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    & > span {
        margin-top: .25rem;
    }
    .filtered-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        min-height: 2.25rem;
        align-items: center;
        span:not(.item) {
            margin-right: 1.5rem;
        }
        .item {
            display: flex;
            justify-content: space-between;
            margin: .5rem 1.5rem .5rem 0;
            background-color: #fff;
            span {
                display: flex;
                align-items: center;
                margin: .25rem 1rem;
                cursor: default;
            }
            button {
                border: none;
                cursor: pointer;
                min-width: 2.25rem;
                min-height: 2.25rem;
                background: rgba($blue, .3) url('../svg/x-thicker-blue.svg') center/1rem no-repeat;

                &:hover, &:focus {
                    background-color: rgba($blue, .6);
                }
            }
        }
    }
}