<div class="container subsection">
    <section class="js-contact-card m_contact-card row">
        <dl class="col-md-6">
            {%include generic/contacts/parts/oppmote.html %}
            {%include generic/contacts/parts/telefonnummer.html %}
            {%include generic/contacts/parts/telefontider.html %}
            {%include generic/contacts/parts/epost.html %}
            {%include generic/contacts/parts/postadresse.html %}
        </dl>
        <dl class="col-md-6">
            {%include generic/contacts/parts/sted-avdeling-navn.html %}
            {%include generic/contacts/parts/besoksadresse.html %}
            {%include generic/contacts/parts/besokstider.html %}
        </dl>
    </section>
</div>