<section class="js-contact-card m_contact-card container">
    <dl>
        {% include generic/contacts/parts/oppmote.html %}
        {% include generic/contacts/parts/oppmote-flere-sted.html %}
        {% include generic/contacts/parts/sted-avdeling-navn.html %}
        {% include generic/contacts/parts/telefonnummer.html %}
        {% include generic/contacts/parts/telefontider.html %}
        {% include generic/contacts/parts/epost.html %}
        {% include generic/contacts/parts/postadresse.html %}
    </dl>
</section>