.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.calendar-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 57%;
}
.headerwrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertext{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  font-family: 'Open Sans', sans-serif;
}
.calendertitle{
  font-size: 20pt;
  margin-bottom:10px;
}
.descriptiontext{
  font-size: 15pt;
  margin-bottom:10px;
}
.entry-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  border-left: 1px solid black;
}

.target-group {
  margin-right: 1rem;
  font-size: 12pt;
}

.currentmonth {
  font-size: 20pt;
  text-transform: capitalize;
  user-select: none;
}

.calendar-header-wrapper {
  display: flex;
  align-self: center;
  width:  55.3%;
  height: 3rem;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: center;
  margin: 3rem;
}

.calendar-footer-wrapper {
  display: flex;
  align-self: center;
  width: 57%;
  height: 3rem;
  justify-content: space-between;
  margin: 3rem;
}
.calendar-title{
  margin:2px 0;
}
.calendar-header-button {
  border: none;
  background-color: transparent;
  color: #034584;
  cursor: pointer;
  font-size: 30pt;
  margin: 0 5rem;

  &:hover {
    text-decoration: underline;
  }
}

.calendar-footer-button {
  border: none;
  background-color: transparent;
  color: #034584;
  cursor: pointer;
  font-size: 16pt;
  margin: 0 20px;

  &:hover {
    text-decoration: underline;
  }
  &:focus{
    border:none;
  }
}

.datoTekst {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.datodagTekst {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.titletarget{
  margin-bottom:10px;
}
h1 {
  font-size: 13pt;
  color: #034584;
}

h2 {
  font-size: 14pt;
  font-weight: normal;
}

h3 {
  font-size: 12pt;
  font-weight: normal;
}