.sidemenywrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5em;
    width: 400px;
    min-height: 600px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, .2);
}

.komponentwrapper {
    display: inline-flex;
}

.resultatwrapper {
    margin: 5em 0 0 2em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.resultat {
    color: #034584;
    border: none;
    text-align: start;
    font-size: 12pt;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: #034584;
        color: white;
    }
}

.sidemenyheader {
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    margin-bottom: 2rem;
    font-size: 15pt;
    padding-top: 2em;
    width: 100%;
}

.lukk-kryss {
    align-self: flex-start;
    cursor: pointer;
    color: #034584;
    bottom: 1em;
    font-size: 18pt;
    position: relative;
}

.meny-header-tekst {
    display: block;
    font-weight: 500;
    font-size: 18pt;
    margin-left: 15px;
    margin-bottom: 15px;
}

.tilbakeknapp {
    display: block;
    font-weight: 500;
    font-size: 10pt;
    margin-left: 15px;
    margin-bottom: 15px;
}

.sidemeny-knapp {
    background-color: #fff;
    color: #034584;
    border: none;
    text-align: start;
    font-size: 12pt;
    padding: 0;
}